@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


h1 {
  /* Choisir  mon expérience : */



font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 26px;
/* or 100% */
letter-spacing: -0.04em;

color: #333333;


}

form {
  font-family: 'Inter';
  font-weight: 450;
}

input {
  $s: 2rem;
  width: $s;
  height: $s;
  appearance: none;
  border: $s/10 solid #333333;
  border-radius: $s;
  &:checked {
    background: #333333;
    box-shadow: inset 0 0 0 $s/4 #fff;
  }
}